body {
	background-image: url('../images/background2.jpg');
	background-repeat: repeat;
	/*background-color: rgb(10, 50, 70);*/
	
}

#main_container {
	/*border: solid black 2px;*/
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
	margin-top: 100px;
	opacity: 0.7;
	
}

header {
	width: 100%;
	height: 100px;
	background-color: rgb(24, 173, 172);
	position: fixed;
	top: 0;
	z-index: 1;
	border: solid 2px black;
	border-radius: 11px;
}


#heading_links {
	width: 1000px;
	height: 100px;
	display: inline-block;
	margin: 0 auto;
}

#heading_links ul {
	width: 1000px;
	font-size: 28px;
	list-style-type: none;
	margin: 0 auto;
	padding-top: 30px;
	padding-left: 270px;
	display: inline-block;
	text-align: center;
	
}

#heading_links li {
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
	margin: 0 auto;
	font-family: arial; 
}

.introduction {
	width: 1000px;
	height: 700px;
	border-radius: 11px;
	background-color: white;
	margin: 0 auto;
	margin-top: 150px;
}

#education_list ul {
	font-size: 23px;
	color: white;

}

a {
	text-decoration: none;
}

/*The social media button area*/
.social_media_area {
	width: 300px;
	height: 90px;
	float: right;
	display: inline-block;
	background-color: rgb(24, 173, 172);
	
}

#youtube_videos {
	text-align: center;
}

/*The buttons for the social media area*/
.social_media_area img {
	width: 75px;
	height: 60px;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
	display: inline-block;
	border-radius: 11px;
	
}

.text_areas{
	width: auto;
	height: auto;
	background-color: white;
	opacity: 0.7;
	border-radius: 11px;
	
}

#grad_photo img {
	margin-left:30%;
	width: 300px;
	height: 300px;
	border-radius: 360px;
}
 #youtube_videos img {
 	text-align: center;
 }

.subheadings_text {
	border: solid black 2px;
	text-align: center;
	height: 75px;
	padding-top: 50px;
	background-color: rgb(24, 173, 172);
	color: white;
	opacity: 0.7;
	border-radius: 11px;
	font-family: arial;

}

.section_writing {
	text-align: left;
	font-size: 23px;
	padding-left: 10px;
	color: black;
	font-family: arial;
}

@media screen and (max-width: 1300px) {
	body {
		
	}
	header {
		height: 300px;
	}

	header ul li {
		display: block;
	}


}
